body {
	font-family: Arial;
	margin: 0;
	padding: 0;
}

.container {
	padding: 10px;
}

.content {
	text-align: center
}

.content p input {
	padding: 5px;
	width: 80%;
	font-size: 14px;
}

.content p button {
	padding: 10px 5px;
	width: 81.5%;
	font-size: 14px;
	cursor: pointer;
	background-color: #3498db;
	color: #fff;
	border: none;
	font-weight: 700;
}

.content table {
	width: 82%;
}

.content table tr th {
	background-color: #3498db;
	color: #fff;
	padding: 5px;
	font-size: 13px;
	width: 27.3%;
}

.content table tr td {
	font-size: 12.5px;
	color: #34495e;
	padding: 5px;
}

#simpan-perubahan, #batal, #id {
	display: none;
}

.hapus, .ubah {
	cursor: pointer;
	color: #999;
}
